body {
  margin: 8px;
}

p {
  margin: 6px 0;
}

th,
td {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
}

table.bp tr:nth-child(odd) {
  background: #eee;
}
/*
.ranking-wrapper {
  width: 50%;
} */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

#user_search_text {
  border: 1px solid #ddd;
  padding: 0.25rem;
}

input[type="button"] {
  border: solid 1px #333;
  padding: 0.25rem;
  background-color: rgb(240, 240, 240);
}

#country_ranking {
  border: 1px grey solid;
  padding: 0.25rem;
  -webkit-appearance: auto;
}

.search_field {
  margin: 6px 0;
}

.recent {
  background: deepskyblue!important;
}

.hide {
  display: none;
}

#user_name_head, .user_name {
  width: 10.5rem;
}

.rank_up {
  color: limegreen;
}

.rank_down {
  color: crimson;
}

.rank_no_change {
  color: grey;
}

.rank_new {
  color: orange;
}

.pp_50 {
  color: mediumpurple;
}

.pp_100 {
  color: deepskyblue;
}


/* STYLE REMAKE AUG 2025 */

@font-face {
  font-family: 'Torus';
  src: url('/res/Torus-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Torus', Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;
  line-height: 1.6;
}

body {
  background-color: #24222a;
  padding: 0;
  margin: 0;
  color: white;

  display: flex;
  flex-direction: column;
}

a{
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

/* INDEX PAGE STYLES */

.index-title {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.index-content {
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 1rem;
}

.index-pages-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  max-width: 75%;
  margin: 0 auto;

  justify-content: center;
  margin-bottom: 2rem;
}

.section-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: white;

  border-bottom: 1px solid #393939;
  width: 80vw;
}

@media screen and (max-width: 768px) {
  .index-pages-list {
    max-width: 90%;
  }
}

.index-page-button{
  padding: 2rem 1rem;
  border-radius: 4px;
  background-color: #1e1e1e;
  border: 1px solid #393939;
  color: white;
  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  flex: 0 0 12rem;

  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform .3s, background-color .3s, color .3s;
}

.index-page-button img {
  max-width: 64px;
  max-height: 64px;

  min-width: 64px;
  min-height: 64px;

  object-fit: contain;
}

.index-page-button:hover{
  background-color: #333;
  color: white;

  transform: scale(1.1);
}

.index-footer, .credits-footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #393939;

  background: #1e1e1e;
}

.index-title{
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #393939;

  background: #1e1e1e;
}

.github-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;


  width: 64px;
  height: 64px;
  background: url('../../res/github-logo.png') no-repeat center center;
  background-size: contain;
}

/* CREDITS PAGE STYLES */

.credits-title {
  width: 100%;

  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #393939;

  background: #1e1e1e;
}

.return{
  text-align: center;
  margin: 1rem 0;

  border: 1px solid #393939;
  border-radius: 5px;
  width: fit-content;
  padding: .5rem;
}

.return a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.credits-content {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;

  flex: 1;
}

.credits-content p {
  margin: 0.5rem 0;
}

.credits, .license {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 2rem;
}

.credits a, .license a {
  color: deepskyblue;
  text-decoration: none;
}

.credits a:hover, .license a:hover {
  text-decoration: underline;
}

.credits a:visited, .license a:visited {
  color: deepskyblue;
}

.signature {
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
}

/* PAGES STYLE */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}